<div class="row mb-3">
  <% if user_signed_in? %>
    <div class="col-sm-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%= link_to 'New Employee', new_employee_path, class:"btn btn-primary text-white me-md-2 rounded-pill border border-light" %>
      </div>
    </div>
  <% end %>
</div>

<div class="album text-muted">
  <div class="row">
    <% @employees.each do |employee| %>
      <div class="col-md-4">
        <div class="card card-widget widget-user">
          <div class="widget-user-header bg-info">
            <h3 class="widget-user-username"><%= employee.first_name %> <%= employee.last_name %></h3>
            <h5 class="widget-user-desc"><%= employee.roles %></h5>
          </div>
          <div class="widget-user-image">
            <% if employee.photo.attached? %>
              <%= image_tag employee.thumbnail, class:"img-circle elevation-2", alt:"User Avatar" %>
            <% else %>
              <%= image_tag ("avatar.jpg"), size:"90", class:"img-circle elevation-2", alt:"User Avatar" %>
            <% end %>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <h5 class="description-header"><%= employee.company %></h5>
                  <span class="description-text">COMPANY</span>
                </div>
              </div>
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <h5 class="description-header"><%= employee.department.description %></h5>
                  <span class="description-text">DEPARTMENT</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="description-block">
                  <h5 class="description-header"><%= employee.department.floor.description %></h5>
                  <span class="description-text">FLOOR</span>
                </div>
              </div>
              <%= link_to employee, class:"btn btn-sm btn-primary", style:"margin-bottom: 5px;", "data-bs-toggle":"tooltip", "data-bs-placement":"top", title:"View" do %>
                <i class="fas fa-user"></i> View Profile
              <% end %>
              <% if user_signed_in? %>
                <%= link_to edit_employee_path(employee), class:"btn btn-sm btn-info", style:"margin-bottom: 5px;", "data-bs-toggle":"tooltip", "data-bs-placement":"top", title:"Edit" do %>
                  <i class="fas fa-pen"></i> Edit Employee
                <% end %>
                <%= link_to employee, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-sm btn-danger", style:"margin-bottom: 5px;", "data-bs-toggle":"tooltip", "data-bs-placement":"top", title:"Delete"  do %>
                  <i class="fas fa-trash-alt"></i> Delete Employee
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
