<div class="container-fluid">
  <div class="row mb-3 mt-3">
    <% if user_signed_in? %>
      <div class="col-sm-12">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%= link_to 'New Employee', new_employee_path, class:"btn btn-primary text-white me-md-2 rounded-pill border border-light" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Employees</h3>
          <div class="col-sm-12 col-md-6">
            <div class="dt-buttons btn-group flex-wrap">
              <%= link_to export_contacts_path(format: 'pdf'), class:"btn btn-tool btn-sm", "data-bs-toggle":"tooltip", "data-bs-placement":"top", title:"Export" do =%>
                <i class="fas fa-download"></i>
              <% end %>
              </a>
            </div>
          </div>
          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 250px;">
              <%= search_form_for @q do |f| %>
                <div class="input-group-append">
                  <%= f.label 'Search:', class:"mr-2"%>
                  <%= f.search_field :first_name_cont, class: "form-control form-control-sm float-right", placeholder: "John Doe" %>
                  <% f.submit class: "btn btn-default" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Name</th>
                <th>Title</th>
                <th>Date of Birth</th>
                <th>Company</th>
                <th>Department</th>
                <th>Floor</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @employees.each do |employee| %>
                <tr>
                  <td><%= employee.first_name %> <%= employee.last_name %></td>
                  <td><%= employee.title %></td>
                  <td><%= employee.date_of_birth %></td>
                  <td><%= employee.company %></td>
                  <td><%= employee.department.description %></td>
                  <td><%= employee.department.floor.description %></td>
                  <td>
                    <%= link_to employee,
                      class:"btn btn-sm btn-primary",
                      style:"margin-bottom: 5px;",
                      "data-bs-toggle":"tooltip",
                      "data-bs-placement":"top",
                      title:"View" do %>
                        <i class="fas fa-user"></i>
                      <% end %>
                    <% if user_signed_in? %>
                      <%= link_to edit_employee_path(employee),
                        class:"btn btn-sm btn-info",
                        style:"margin-bottom: 5px;",
                        "data-bs-toggle":"tooltip",
                        "data-bs-placement":"top",
                        title:"Edit" do %>
                          <i class="fas fa-pen"></i>
                        <% end %>
                      <%= link_to employee,
                        method: :delete, data: { confirm: 'Are you sure?' },
                        class:"btn btn-sm btn-danger",
                        style:"margin-bottom: 5px;",
                        "data-bs-toggle":"tooltip",
                        "data-bs-placement":"top",
                        title:"Delete" do %>
                          <i class="fas fa-trash-alt"></i>
                        <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-7">
          <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
            <%= paginate @employees %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
