<div class="row justify-content-end">
  <div class="col-xl-2 col-lg-2 col-md-2 mb-3 align-self-end">
    <div class="btn-group-vertical d-grid gap-2 d-flex justify-content-end">
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_employee_path(@employee),class:"btn btn-success text-white" %>
      <% end %>
        <%= link_to 'Go Back', employees_path, class:"btn btn-outline-dark" %>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-lightblue card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
                <%= image_tag @employee.photo_thumbnail,
                    class:"profile-user-img img-fluid img-circle"
                %>
            </div>

            <h3 class="profile-username text-center"><%= @employee.first_name %> <%= @employee.last_name %></h3>

            <p class="text-muted text-center"><%= @employee.company %></p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Phone</b> <a class="float-right" style="text-decoration: none !important" > <%= @employee.phone %></a>
              </li>
              <li class="list-group-item">
                <b>Email</b> <a class="float-right" style="text-decoration: none !important" > <%= @employee.email %></a>
              </li>
              <li class="list-group-item">
                <b>Title</b> <a class="float-right" style="text-decoration: none !important" ><%= @employee.title %></a>
              </li>
              <li class="list-group-item">
                <b>Date of Birth</b> <a class="float-right" style="text-decoration: none !important" ><%= @employee.date_of_birth %></a>
              </li>
            </ul>

            <%= mail_to @employee.email, class:"btn btn-success btn-block" , style:"margin-bottom: 5px;", "data-bs-toggle":"tooltip", "data-bs-placement":"top", title:"Delete"  do %>
              <i class="fas fa-envelope mr-1"></i>Contact User
            <% end %>
          </div>
        </div>

        <div class="card card-lightblue">
          <div class="card-header">
            <h3 class="card-title">About Me</h3>
          </div>
          <div class="card-body">
            <strong><i class="fas fa-bullseye mr-1"></i></i>Department</strong>
            <p class="text-muted">
              <%= @employee.department.description %>
            </p>
            <hr>
            <strong><i class="fas fa-map-marker-alt mr-1"></i>Floor</strong>
            <p class="text-muted">
              <%= @employee.department.floor.description %>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="manager">
                <div class="post">
                  <div class="user-block">
                      <%= image_tag @employee.manager_photo,
                        class:"img-circle img-bordered-sm"
                      %>
                    <span class="username">
                      <% if @employee.manager.nil? %>
                        <a>Employee does not have a manager!</a>
                      <% else %>
                        <%= link_to @employee.manager do %>
                          <%= @employee.manager.first_name %>
                          <%= @employee.manager.last_name %>
                        <% end %>
                      </span>
                    <% end %>
                    <% unless @employee.manager.nil? %>
                      <span class="description"><%= @employee.manager.roles.capitalize %></span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-solid">
          <div class="card-header border-0">
            <h3 class="card-title">Coworkers</h3>
            </div>
            <div class="card-body pb-0">
              <div class="row">
                <% @coworkers.each do |coworker| %>
                  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                      <div class="card-header text-muted border-bottom-0">
                      </div>
                      <div class="card-body pt-0">
                        <div class="row">
                          <div class="col-7">
                            <h2 class="lead"><b><%= coworker.first_name %> <%= coworker.last_name %></b></h2>
                            <p class="text-muted text-sm"><b>About: </b> <%= coworker.roles.capitalize %></p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                              <li class="small mb-2"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> <%= coworker.company %></li>
                              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> <%= coworker.phone %></li>
                            </ul>
                          </div>
                          <div class="col-5 text-center">
                            <% if coworker.photo.attached? %>
                              <%= image_tag coworker.photo.variant(resize_to_limit: [70, 70]).processed,
                                  width: 70,
                                  heigth: 70,
                                  class:"img-circle img-bordered-sm"
                              %>
                            <% else %>
                              <%= image_tag ("avatar.jpg"), size:"70", class:"img-circle img-bordered-sm" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="text-right">
                          <%= link_to employee_path(coworker.id), class:"btn btn-sm btn-success" do %>
                            <i class="fas fa-user"></i>
                              View Profile
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="card-footer">
              <nav aria-label="Contacts Page Navigation">
                <ul class="pagination justify-content-center m-0">
                  <%= paginate @coworkers %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
