<div class="row justify-content-end">
  <div class="col-xl-2 col-lg-2 col-md-2 mb-3 align-self-end">
    <div class="btn-group-vertical d-grid gap-2 d-flex justify-content-end">
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_employee_path(@employee),class:"btn btn-success text-white" %>
      <% end %>
        <%= link_to 'Go Back', employees_path, class:"btn btn-outline-primary text-primary" %>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <% if @employee.photo.attached? %>
                <%= image_tag @employee.thumbnail,
                    class:"profile-user-img img-fluid img-circle"
                %>
              <% else %>
                <%= image_tag ("avatar.jpg"), size:"90", class:"profile-user-img img-fluid img-circle" %>
              <% end %>
            </div>

            <h3 class="profile-username text-center"><%= @employee.first_name %> <%= @employee.last_name %></h3>

            <p class="text-muted text-center"><%= @employee.company %></p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Phone</b> <a class="float-right"> <%= @employee.phone %></a>
              </li>
              <li class="list-group-item">
                <b>Email</b> <a class="float-right"> <%= @employee.email %></a>
              </li>
              <li class="list-group-item">
                <b>Title</b> <a class="float-right"><%= @employee.title %></a>
              </li>
            </ul>

            <%= mail_to @employee.email, class:"btn btn-primary btn-block" , style:"margin-bottom: 5px;", "data-bs-toggle":"tooltip", "data-bs-placement":"top", title:"Delete"  do %>
              <i class="fas fa-envelope mr-1"></i>Contact User
            <% end %>
          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">About Me</h3>
          </div>
          <div class="card-body">
            <strong><i class="fas fa-bullseye mr-1"></i></i>Department</strong>

            <p class="text-muted">
              <%= @employee.department.description %>
            </p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i>Floor</strong>

            <p class="text-muted">
              <%= @employee.department.floor.description %>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" data-toggle="tab">Manager</a></li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="manager">
                <div class="post">
                  <div class="user-block">
                      <% if @employee.manager.nil? %>
                        <%= image_tag ("avatar.jpg"), size:"90", class:"img-circle img-bordered-sm" %>
                      <% else %>
                        <%= image_tag @employee.manager.photo.variant(resize_to_limit: [90, 90]).processed,
                            width: 90,
                            heigth: 90,
                            class:"img-circle img-bordered-sm"
                        %>
                      <% end %>
                    <span class="username">
                      <% if @employee.manager.nil? %>
                        <a>Employee does not have a manager!</a>
                      <% else %>
                        <%= link_to @employee.manager do %>
                          <%= @employee.manager.first_name %>
                          <%= @employee.manager.last_name %>
                        <% end %>
                      </span>
                    <% end %>
                    <% unless @employee.manager.nil? %>
                      <span class="description"><%= @employee.manager.roles %></span>
                    <% end %>
                  </div>
                  <p>
                    Lorem ipsum represents a long-held tradition for designers,
                    typographers and the like. Some people hate it and argue for
                    its demise, but others ignore the hate as they create awesome
                    tools to help create filler text for everyone from bacon lovers
                    to Charlie Sheen fans.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-solid">
          <div class="card-header border-0">
            <h3 class="card-title">Coworkers</h3>
              <div class="card-tools">
                <a href="#" class="btn btn-tool btn-sm">
                  <i class="fas fa-download"></i>
                </a>
                <a href="#" class="btn btn-tool btn-sm">
                  <i class="fas fa-bars"></i>
                </a>
              </div>
            </div>
            <div class="card-body pb-0">
              <div class="row">
                <% @coworkers.each do |coworker| %>
                  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill">
                      <div class="card-header text-muted border-bottom-0">
                      </div>
                      <div class="card-body pt-0">
                        <div class="row">
                          <div class="col-7">
                            <h2 class="lead"><b><%= coworker.first_name %> <%= coworker.last_name %></b></h2>
                            <p class="text-muted text-sm"><b>About: </b> <%= coworker.roles %></p>
                            <ul class="ml-4 mb-0 fa-ul text-muted">
                              <li class="small mb-2"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> <%= coworker.company %></li>
                              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> <%= coworker.phone %></li>
                            </ul>
                          </div>
                          <div class="col-5 text-center">
                            <% if coworker.photo.attached? %>
                              <%= image_tag coworker.photo.variant(resize_to_limit: [70, 70]).processed,
                                  width: 70,
                                  heigth: 70,
                                  class:"img-circle img-bordered-sm"
                              %>
                            <% else %>
                              <%= image_tag ("avatar.jpg"), size:"70", class:"img-circle img-bordered-sm" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <div class="text-right">
                          <a href="#" class="btn btn-sm btn-primary">
                            <i class="fas fa-user"></i> View Profile
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="card-footer">
              <nav aria-label="Contacts Page Navigation">
                <ul class="pagination justify-content-center m-0">
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
