<div class="row justify-content-center">
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <div class="h1"><b>Contact</b>List v1</div>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Change your password</p>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="input-group mb-3 justify-content-center">
              <% if resource.photo.attached? %>
                <%= image_tag resource.photo_thumbnail, class:"img-circle img-bordered-sm justify-content" %>
              <% else %>
                <%= image_tag ("avatar.jpg"), size:"100", class:"img-circle img-bordered-sm justify-content" %>
              <% end %>
          </div>
          <div class="input-group mb-3">
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"New Password" %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirm password" %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-3">
              <div class="icheck-primary">
                <%= f.submit "Change my password", class:"btn btn-success btn-block" %>
              </div>
            </div>
            <div class="col-12">
              <%= link_to "Login", new_user_session_path, class:"btn btn-outline-primary btn-block" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
