<div class="row">
  <div class="col-lg-3 col-sm-6 col-12">
    <div class="card">
      <div class="card-header ui-sortable-handle">
        <h3 class="card-title">Todays Birthdays</h3>
      </div>
        <div class="card-body">
          <% @todays_birthdays.each do |todays_birthday| %>
            <div class="row">
              <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box">
                  <div class="info-box-icon">
                    <div class="widget-user-image">
                      <%= image_tag todays_birthday.photo_thumbnail_upcoming_birthdays,
                        class:"img-circle elevation-2", alt:"User Avatar"
                      %>
                    </div>
                  </div>
                  <div class="info-box-content">
                    <span class="info-box-number"><%= todays_birthday.first_name %> <%= todays_birthday.last_name %></span>
                    <span class="info-box-text"><%= todays_birthday.date_of_birth %></span>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>

  <div class="col-lg-9 col-sm-6 col-12">
    <div class="card">
      <div class="card-header ui-sortable-handle">
        <h3 class="card-title">Upcoming Birthdays</h3>
      </div>
      <div class="card-body">
        <div class="row">
        </div>
        <div class="row">
          <% @upcoming_birthdays.each do |upcoming| %>
            <div class="col-md-3">
              <div class="card card-widget widget-user">
                <div class="widget-user-header bg-info">
                  <h3 class="widget-user-username"><%= upcoming.first_name %> <%= upcoming.last_name %></h3>
                  <h5 class="widget-user-desc"><%= upcoming.title %></h5>
                </div>
                <div class="widget-user-image">
                  <%= image_tag upcoming.photo_thumbnail_upcoming_birthdays,
                    class:"img-circle elevation-2", alt:"User Avatar"
                  %>
                </div>
                <div class="card-footer">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="description-block">
                        <h5 class="description-header"><%= upcoming.date_of_birth %></h5>
                        <span class="description-text">Date of Birth</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
