<h5 class="mb-2 mt-4">Dashboard</h5>
<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%= @floors.length%></h3>

        <p>Floors</p>
      </div>
      <div class="icon">
        <i class="fas fa-ellipsis-h"></i>
      </div>
      <%= link_to floors_path, class:"small-box-footer" do %>
          See All <i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3><%= @departments.length %></h3>

        <p>Departments</p>
      </div>
      <div class="icon">
        <i class="fas fa-th"></i>
      </div>
      <%= link_to departments_path, class:"small-box-footer" do %>
          See All <i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3><%= @employees.length %></h3>

        <p>Employees</p>
      </div>
      <div class="icon">
        <i class="fas fa-user"></i>
      </div>
      <%= link_to employees_path, class:"small-box-footer" do %>
          See All <i class="fas fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
</div>
